.app {}

.status {
    width: 10px;
    height: 10px;
    background: rgb(255, 7, 7);
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    border-radius: 50%;
    &.checked-in {
        background: rgb(50, 222, 50)
    }
}